.body {
  font-family: 'Lato';
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@media (max-width: 1024px) {
  .container {
    width: 736px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 360px;
  }
}

.header {
  background-color: #222222;
  min-height: 75px;
}

.header__nav {
  display: none;
  position: absolute;
  width: 232px;
  background: #ffffff;
  right: 0;
  top: 100%;
}

.header__nav:hover {
  display: block;
}

.header__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 18px;
}

.header__logo-form-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search {
  margin: 10px 0 0 41px;
}

.header__link {
  margin: 0 0 0 33px;
}

.header__menu {
  position: relative;
}

.header__menu-btn {
  background-color: transparent;
  border: none;
}

.header__menu-btn:hover + .header__nav,
.header__menu-btn:focus + .header__nav {
  display: block;
}

.header .icon-loupe {
  fill: white;
}

.header__search:hover .icon-loupe,
.header__search:focus .icon-loupe {
  fill: #F16D7F;
}

.header .burger-icon {
  fill: white;
}

.header__menu-btn:hover .burger-icon,
.header__menu-btn:focus .burger-icon {
  fill: #F16D7F;
}

.header__menu-btn:active {
  outline: 1px solid white;
}

.header .person-icon {
  fill: white;
}

.header__link:hover .person-icon,
.header__link:focus .person-icon {
  fill: #F16D7F;
}

.header__link:active {
  outline: 1px solid white;
}

.header .basket-icon {
  fill: white;
}

.header__link:hover .basket-icon,
.header__link:focus .basket-icon {
  fill: #F16D7F;
}

@media (max-width: 1024px) {
  .header__logo-form-wrp {
    margin: 0 0 0 16px;
  }
  .header__menu {
    margin-right: 16px;
  }
}

@media (max-width: 767px) {
  .header__link {
    display: none;
  }
  .header__logo-form-wrp {
    margin: 0;
  }
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F1E4E6;
  margin: 0 0 65px;
}

.brand__title-wrp {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 92px;
}

.brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
  position: relative;
}

.brand__title::before {
  content: '';
  background: #F16D7F;
  width: 12px;
  height: 100%;
  position: absolute;
  left: -26px;
}

.brand__subtitle {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  display: block;
}

.brand__subtitle-pink {
  color: #F09BA7;
}

@media (max-width: 1024px) {
  .brand {
    margin: 0 0 20px 0;
  }
  .brand__title {
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 53px;
  }
  .brand__img {
    width: 368px;
    height: 368px;
  }
  .brand__subtitle {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
  }
}

@media (max-width: 767px) {
  .brand {
    min-height: 363px;
    margin: 0 0 64px 0;
  }
  .brand__img {
    display: none;
  }
  .brand__title {
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    line-height: 46px;
  }
  .brand__subtitle {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
}

.sales__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sales__item {
  width: 31%;
  min-height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
}

@media (max-width: 1024px) {
  .sales__item {
    min-height: 168px;
  }
}

@media (max-width: 767px) {
  .sales__item {
    width: 100%;
    min-height: 248px;
    margin-bottom: 32px;
  }
}

.sales__item--women {
  background-image: url(../img/sales-women.jpg);
}

.sales__item--men {
  background-image: url(../img/sales-men.jpg);
}

.sales__item--kids {
  background-image: url(../img/sales-kids.jpg);
}

.sales__item--accesories {
  background-image: url(../img/sales-acc.jpg);
  width: 100%;
  min-height: 180px;
  margin: 30px 0 96px 0;
}

@media (max-width: 1024px) {
  .sales__item--accesories {
    margin: 20px 0 155px 0;
    min-height: 116px;
  }
}

@media (max-width: 767px) {
  .sales__item--accesories {
    margin: 0 0 64px 0;
    min-height: 111px;
  }
}

.sales__item-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.sales__item-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  color: #F09BA7;
  text-transform: uppercase;
}

.products__title {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.products__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  color: #9F9F9F;
  margin: 6px 0 48px;
}

.products__title-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products__item {
  width: 360px;
  min-height: 581px;
  margin: 0 0 30px;
  background-color: #F8F8F8;
}

@media (max-width: 1024px) {
  .products__item {
    width: 49%;
  }
}

@media (max-width: 767px) {
  .products__item {
    width: 100%;
  }
}

.products__item-title {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin: 25px 18px 13px;
}

.products__item-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  color: #5D5D5D;
  margin: 0 18px 18px;
  width: 85%;
}

.products__item-price {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: #F16D7F;
  margin: 0 18px;
}

.products__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  color: #ffffff;
  background: transparent;
  border-color: #ffffff;
  padding: 10px 13px 8px 12px;
}

.products__link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  padding: 15px 39px;
  border: 1px solid #F26376;
  text-decoration: none;
  color: #F26376;
}

.products__link:hover, .products__link:focus {
  color: white;
  cursor: pointer;
  background: #F16D7F;
  opacity: 0.8;
}

.products__link:active {
  color: black;
}

.products-link-wrp {
  margin: 49px 0 96px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart-wrapper {
  position: relative;
}

.overlay {
  position: absolute;
  background: #3A3838DB;
  width: 100%;
  min-height: 420px;
  top: 0;
}

.overlay,
.products__btn {
  display: none;
}

.cart:hover .overlay,
.cart:hover .products__btn {
  display: block;
}

.bonus {
  background-color: #222222;
}

@media (max-width: 1024px) {
  .bonus {
    padding-bottom: 48px;
  }
}

.bonus__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .bonus__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.bonus__item {
  text-align: center;
  width: 31%;
}

@media (max-width: 1024px) {
  .bonus__item {
    width: 40%;
  }
}

@media (max-width: 767px) {
  .bonus__item {
    width: 100%;
  }
}

.bonus__item-img {
  margin-top: 103px;
}

@media (max-width: 1024px) {
  .bonus__item-img {
    margin-top: 48px;
  }
}

.bonus__item-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #FBFBFB;
  margin: 28px 0 0 0;
  opacity: 70%;
}

.bonus__item-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  color: #FBFBFB;
  opacity: 70%;
  margin: 16px 0 104px 0;
}

@media (max-width: 1024px) {
  .bonus__item-text {
    margin: 16px 0 0 0;
  }
}

.footer {
  background-image: url(../img/footer-bcg.jpg);
  background-size: cover;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 448px;
}

@media (max-width: 1024px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 693px;
  }
}

@media (max-width: 767px) {
  .footer__top {
    min-height: 550px;
  }
}

.footer__quote-wrp {
  width: 360px;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__quote {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 30px 0 0 0;
}

.footer__form-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
}

@media (max-width: 1024px) {
  .footer__form-wrp {
    margin: 48px 0 0 0;
  }
}

.footer__form-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.footer__form-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 32px 0;
}

@media (max-width: 1024px) {
  .footer__form-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin: 0 0 20px 0;
  }
}

@media (max-width: 767px) {
  .footer__form-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin: 0 0 15px 0;
  }
}

.footer__form-email {
  width: 323px;
  min-height: 49px;
  background: #E1E1E1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  padding: 7px 22px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  border-color: transparent;
  display: inline;
}

.footer__form-email:hover {
  outline: 1px solid grey;
}

.footer__form-email:focus {
  outline: 1px solid grey;
}

.footer__form-btn {
  width: 100px;
  min-height: 49px;
  border-radius: 0 20px 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  background: #E05C6E;
  color: #ffffff;
  border-color: transparent;
  position: absolute;
  right: 0;
}

.footer__form-btn:hover, .footer__form-btn:focus {
  opacity: 0.5;
  cursor: pointer;
}

.footer__form-btn:active {
  opacity: 0.7;
}

.footer__bottom {
  min-height: 79px;
  background-color: #222222;
}

.footer__bottom-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .footer__bottom-wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__bottom-copyright {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: #FBFBFB;
  margin: 30px 0 30px 0;
}

.footer__bottom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__bottom-item {
  margin: 24px 7px 0 0;
}

.footer .icon-facebook {
  background-color: white;
}

.footer__bottom-item:hover .icon-facebook,
.footer__bottom-item:focus .icon-fasebook {
  fill: white;
  background-color: #F16D7F;
}

.footer .icon-inst {
  background-color: white;
}

.footer__bottom-item:hover .icon-inst,
.footer__bottom-item:focus .icon-inst {
  background-color: #F16D7F;
  fill: white;
}

.footer .icon-pint {
  background-color: white;
}

.footer__bottom-item:hover .icon-pint,
.footer__bottom-item:focus .icon-pint {
  background-color: #F16D7F;
  fill: white;
}

.footer .icon-twitter {
  background-color: white;
}

.footer__bottom-item:hover .icon-twitter,
.footer__bottom-item:focus .icon-twitter {
  background-color: #F16D7F;
  fill: white;
}

.registration {
  min-height: 148px;
  background-color: #F8F3F4;
}

.registration__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
  color: #F16D7F;
  padding: 59px 0 0 0;
}

.registration__form-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .registration__form-wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.registration__form-input {
  margin-bottom: 20px;
  padding: 12px 17px 16px;
  width: 360px;
  border: 1px solid #A4A4A4;
}

.registration__form-input:hover, .registration :focus {
  outline: 1px solid grey;
}

label, input {
  display: block;
}

.form-legend {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  margin-bottom: 20px;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 34px 0 34px 0;
}

.form__text {
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  color: #B1B1B1;
  max-width: 360px;
  margin-bottom: 39px;
}

.form__btn {
  width: 167px;
  height: 50px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  color: #ffffff;
  background-color: #F16D7F;
  border-color: transparent;
  margin-bottom: 96px;
}

.form__btn:hover, .form__btn:focus {
  opacity: 0.5;
  cursor: pointer;
}

.form__btn:active {
  opacity: 0.7;
}

.arrow-registration-btn {
  margin-left: 20px;
}

.perks {
  width: 50%;
}

@media (max-width: 1024px) {
  .perks {
    width: 40%;
  }
}

@media (max-width: 767px) {
  .perks {
    width: 100%;
  }
}

.perks__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .perks__title {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
  }
}

@media (max-width: 767px) {
  .perks__title {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
  }
}

.perks__text {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  margin: 22px 0 22px 0;
}

@media (max-width: 1024px) {
  .perks__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
  }
}

.perks__item {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  margin-bottom: 16px;
  position: relative;
}

@media (max-width: 1024px) {
  .perks__item {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
  }
}

.perks__item::before {
  content: '';
  background-image: url(../img/check-registration.svg);
  position: absolute;
  width: 20px;
  height: 16px;
  left: -45px;
}

@media (max-width: 1024px) {
  .perks__item::before {
    left: -30px;
  }
}

@media (max-width: 767px) {
  .perks__item::before {
    left: -30px;
  }
}
/*# sourceMappingURL=style.css.map */