    $black: #222222;
    $pink-bkg: #F1E4E6;
    $pink-color: #F09BA7;
    $white-color: #ffffff;
    $grey-color: #9F9F9F;
    $grey-text: #5D5D5D;
    $pink-price: #F16D7F;
    $pinl-link: #F26376;
    $bonus-color: #FBFBFB;
    $pink-button:#E05C6E;
    $pink-registration-bkg: #F8F3F4;
    $registration-text: #B1B1B1;

    $tablet-width: 1024px;
    $mobile-width: 767px;