.registration__form {
            @include mobile {
                width: 100%;
}
        &-wrp {
            display: flex;
            margin-top: 64px;
            justify-content: space-between;

            @include mobile {
                flex-direction: column;
            }
        }

        &-text {
            font-size: 13px;
            font-style: normal;
            font-weight: 300;
            line-height: 16px;
            color: $registration-text;
            max-width: 360px;
            margin-bottom: 39px;
            }
                
        &-btn {
            width: 167px;
            height: 50px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            color: $white-color;
            background-color: $pink-price;
            border-color: transparent;
            margin-bottom: 96px;

            @include mobile {
                margin-bottom: 40px;
            }
            }
                
        &-btn:hover,
        &-btn:focus {
            opacity: 0.5;
            cursor: pointer;
            }
                
        &-btn:active {
            opacity: 0.7;
            }
            
        @include mobile {
            flex-direction: column;
            align-items: center;
            }
}

.arrow-registration-btn {
    margin-left: 20px;
}